@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

:root {
  --primary: #0747a6;
  --alt-bg: #f2f4f7;
  --stroke: #e4e6ea;
  --grey-1: #78797a;
  --grey-2: #e9ecf1;
  --grey-3: #81868c;
  --grey-4: #f9fafc;
  --grey-5: #737a91;
  --black: #303030;
  --yellow: #f7c244;
  --green: #5cc685;
  --gilroy-semi-bold: 'Gilroy-SemiBold', 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

button,
a {
  cursor: pointer;
}

button {   
  border: none;
  background: transparent;
}

.app-main {
  margin-left: 226px;
  width: calc(100vw - 226px);
  position: relative;
  margin-bottom: 100px;
  /* padding: 0 3.11%; */
}

/* Utilities */

.bg-primary {
  background: var(--primary);
}

.text-white {
  color: white;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.text-green {
  color: var(--green);
}

.text-primary {
  color: var(--primary);
}

.text-yellow {
  color: var(--yellow);
}

.text-grey {
  color: var(--grey-3);
}

.skeleton {
  background: linear-gradient(
    90deg,
    hsl(210, 15%, 88%),
    hsl(210, 15%, 95%),
    hsl(210, 15%, 88%)
  );
  background-size: 200%;
  animation: loader 1s infinite reverse;
}

@keyframes loader {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}

/* Responsiveness */

@media screen and (max-width: 640px) {
  .app-main {
    margin-left: 0;
    width: 100vw;
    /* padding: 0 3.11%; */
  }
}
