.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 3.11%;
  align-items: center;
}

.title {
  font-family: var(--gilroy-semi-bold);
  color: var(--black);
}

.hamburger {
  margin-right: 8px;
  display: none;
}

