.main-fallback-wrapper {
  display: grid;
  width: 100vw;
  grid-template-columns: 226px 1fr;
}

.main-fallback-wrapper > div {
  height: 100vh;
}

.side {
  /* background: var(--grey-4); */
}

.main {
  padding: 0 3.11%;
}

.header {
  height: 40px;
  margin: 24px 0;
}

.card {
  height: 100px;
  width: 100%;
  background: var(--alt-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding: 16px;
  margin-bottom: 24px;
}

.card div {
  height: 100%;
}
